---
- name: Déploiement Wazuh Agent - Version Simplifiée
  hosts: all
  become: yes
  vars:
    wazuh_manager_ip: "192.168.111.74"

  tasks:
    - name: Détecter la distribution
      setup:
        gather_subset:
          - os_family

    - name: Afficher la distribution
      debug:
        msg: "Distribution détectée : {{ ansible_distribution }} {{ ansible_distribution_version }}"

    - name: Installer Wazuh Agent sur Debian/Ubuntu
      block:
        - name: Télécharger le package DEB
          get_url:
            url: https://packages.wazuh.com/4.x/apt/pool/main/w/wazuh-agent/wazuh-agent_4.14.0-1_amd64.deb
            dest: /tmp/wazuh-agent_4.14.0-1_amd64.deb
            mode: '0644'

        - name: Installer le package
          apt:
            deb: /tmp/wazuh-agent_4.14.0-1_amd64.deb

      when: ansible_os_family == "Debian"

    - name: Installer Wazuh Agent sur RedHat/CentOS/AlmaLinux
      block:
        - name: Télécharger le package RPM
          get_url:
            url: https://packages.wazuh.com/4.x/yum/wazuh-agent-4.14.0-1.x86_64.rpm
            dest: /tmp/wazuh-agent-4.14.0-1.x86_64.rpm
            mode: '0644'

        - name: Installer le package
          yum:
            name: /tmp/wazuh-agent-4.14.0-1.x86_64.rpm
            state: present

      when: ansible_os_family == "RedHat"

    - name: Configurer le manager Wazuh
      lineinfile:
        path: /var/ossec/etc/ossec.conf
        regexp: '^[[:space:]]*<address>.*</address>'
        line: '    <address>{{ wazuh_manager_ip }}</address>'
        backup: yes

    - name: Démarrer et activer le service Wazuh
      systemd:
        name: wazuh-agent
        state: started
        enabled: yes

    - name: Nettoyer les packages temporaires
      file:
        path: "/tmp/wazuh-agent-*"
        state: absent
