---
- name: Résoudre les problèmes d'installation restants
  hosts: "10.11.131.66,10.11.131.239"
  become: yes
  vars:
    wazuh_manager_ip: "192.168.111.74"

  tasks:
    - name: Détecter la distribution
      setup:
        gather_subset:
          - os_family

    - name: Résoudre le problème sur Debian (10.11.131.66)
      block:
        - name: Installer la dépendance manquante lsb-release
          apt:
            name: lsb-release
            state: present
            update_cache: yes

        - name: Réinstaller Wazuh agent
          apt:
            name: wazuh-agent
            state: present

        - name: Configurer le manager Wazuh
          copy:
            content: |
              <ossec_config>
                <client>
                  <server>
                    <address>{{ wazuh_manager_ip }}</address>
                    <port>1514</port>
                    <protocol>tcp</protocol>
                  </server>
                  <config-profile>debian</config-profile>
                  <notify_time>10</notify_time>
                  <time-reconnect>60</time-reconnect>
                  <auto_restart>yes</auto_restart>
                </client>
                <syscheck>
                  <disabled>no</disabled>
                  <frequency>43200</frequency>
                </syscheck>
                <rootcheck>
                  <disabled>no</disabled>
                </rootcheck>
              </ossec_config>
            dest: /var/ossec/etc/ossec.conf
            mode: '0644'

      when: ansible_distribution == "Debian"

    - name: Résoudre le problème sur AlmaLinux (10.11.131.239)
      block:
        - name: Importer la clé GPG Wazuh
          rpm_key:
            key: https://packages.wazuh.com/key/GPG-KEY-WAZUH
            state: present

        - name: Installer Wazuh agent avec désactivation de la vérification GPG (temporaire)
          yum:
            name: https://packages.wazuh.com/4.x/yum/wazuh-agent-4.14.0-1.x86_64.rpm
            state: present
            disable_gpg_check: yes

        - name: Configurer le manager Wazuh
          copy:
            content: |
              <ossec_config>
                <client>
                  <server>
                    <address>{{ wazuh_manager_ip }}</address>
                    <port>1514</port>
                    <protocol>tcp</protocol>
                  </server>
                  <config-profile>almalinux</config-profile>
                  <notify_time>10</notify_time>
                  <time-reconnect>60</time-reconnect>
                  <auto_restart>yes</auto_restart>
                </client>
                <syscheck>
                  <disabled>no</disabled>
                  <frequency>43200</frequency>
                </syscheck>
                <rootcheck>
                  <disabled>no</disabled>
                </rootcheck>
              </ossec_config>
            dest: /var/ossec/etc/ossec.conf
            mode: '0644'

      when: ansible_distribution == "AlmaLinux"

    - name: Démarrer et activer le service Wazuh
      systemd:
        name: wazuh-agent
        state: started
        enabled: yes

    - name: Vérifier l'installation
      command: /var/ossec/bin/wazuh-agentd -t
      register: config_test
      changed_when: false

    - name: Afficher le résultat
      debug:
        msg: "Test configuration sur {{ inventory_hostname }} : {{ config_test.stdout }}"
